# Carpetas de compilación del proyecto
out-backend/
out-frontend/
out-test/

# Base de datos local (historial)
data/

# Archivos compilados genéricos de Java
*.class
*.jar

# Archivos del sistema operativo (Windows/Mac)
Thumbs.db
.DS_Store

# Configuraciones de editores de código (opcional)
.vscode/
.idea/
.metals/

# Variables de entorno y llaves locales (despliegue SSH)
.env
*.pem
id_rsa*
id_ed25519*

